*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #64648c;
    color: white;
    max-width: 2560px;
    min-width: 900px;


}



