*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, #3a0ea0, #9c1e68, #7e1f69);
    color: white;
    width: 100%;
    
}




p{
    text-align: center;
}


