.container-conteudo{
    display: flex;
    width: 100%;
    max-width: 900px;
    height: 100vh;

}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.container-rede{
    display: flex;
    flex-direction: column;
}

.container-rede-list{
    display: flex;
    flex-direction: row;
}

a{
    width: 30px;
    height: 30px;
    margin: 10px; 
}

.img-rede{
    display: flex;
    width: 30px;
    height: 30px;
    margin: 10px;
    gap: 40px;
}

.section-menu{
    padding: 15px;

}




.section-projects{
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-evenly;
    width: 100%;

}

.section-sobre{
    display: flex;  
    flex-wrap: wrap;
    align-content: start;

    justify-content: center;
    width: 100%;
    margin-top: 50px;

}


.container-menu-list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;

}

a .img-menu{
    height: 30px;
    width: 30px;
    margin: 20px auto;
}

.container-menu-list li a{
    color: white;
    font-size: 0.5rem;
    margin: 20px auto;
}



img{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;

}


.Projeto-item{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;

}

.projeto-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    gap: 10px;


}



.sobre-mim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 10px;
    margin-top: 30px;


}
