@media (max-width: 700px) {
    .container-logo{
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        
    }
    .container-menu-list li{
        display: flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
     
    }

    .container-sobre p{
        font-size: 15px;
        text-align: justify;
        margin: auto 20px;
        margin-bottom: 10px;
    }

    .imagem{
        height: 100px;
        width: 100px;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        
    
    }

    .caption a{
        font-size: 10px;
    }

}


@media (max-width: 465px) {
    .container-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        flex-wrap: wrap;
        font-size: 15px;
        
    }
    .container-menu-list li{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        flex-wrap: wrap;
        font-size: 18px;
    }

    .container-sobre p{
        font-size: 8px;
    }

    .imagem{
        height: 80px;
        width: 80px;
        margin-left: 3px;
        margin-right: 3px;
        margin-bottom: 3px;
        
    
    }

}
