.container-rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 200px;
    background-color: rgb(90, 92, 92);
    border-radius: 25px 25px 0 0;
    margin-top: 20px;
}

.rodape-author{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 170px;

}






