.section-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*
    Essa linha vou colocar la no responvico pra testar
    max-width: 900px;
    min-width: 380px;
    min-height: 670px;
    */
   
}