.container-topo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 2;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.080);
    border-radius:  0 0 15px 15px;
    padding: 30px;
    width: 100%;
    max-width: 900px;
}



.container-logo{
    font-size: 0.8em;

}






